.idea/*
.idea/workspace.xml
.pytest_cache/*
.idea
/p4_datalake_spark/dbuser_config.cfg
/Udacity_Sparkify_Cassandra/event_data/2018-11-01-events.csv
/Udacity_Sparkify_Cassandra/event_data/2018-11-02-events.csv
/Udacity_Sparkify_Cassandra/event_data/2018-11-03-events.csv
/*.cfg
/.idea/*
/p4_datalake_spark/aws/config.cfg
/p5_pipeline_airflow/.env
/p5_pipeline_airflow/notshown.txt
/gitignore/a_ec2_ssh.sh
/gitignore/b_ec2_cp.sh
/gitignore/config.cfg
/gitignore/*
/.idea/dataSources/
/.idea/inspectionProfiles/
/.idea/$CACHE_FILE$
/.idea/.gitignore
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dictionaries
/.idea/misc.xml
/.idea/modules.xml
/.idea/Udacity-Data-Engineer-NanoDegree.iml
/.idea/vcs.xml
/.idea/workspace.xml
/p6_capstone/config/config_path.cfg
/p6_capstone/config/capstone.cfg
/p6_capstone/config/a_ec2_ssh.sh
/p6_capstone/config/
/config/
/scratchpad/
/Scratchpad.ipynb
/.ipynb_checkpoints/
