# Default ignored files
/workspace.xml
/workspace.xml
/dataSources/
/inspectionProfiles/
/$CACHE_FILE$
/.gitignore
/dataSources.local.xml
/dataSources.xml
/dictionaries
/misc.xml
/modules.xml
/Udacity-Data-Engineer-NanoDegree.iml
/vcs.xml
/workspace.xml
